html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  padding: 0
  border: 0
  vertical-align: baseline


body
  -webkit-text-rendering: optimizeLegibility
  -moz-text-rendering: optimizeLegibility
  -ms-text-rendering: optimizeLegibility
  -o-text-rendering: optimizeLegibility
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  font-smoothing: antialiased



body
  font-family: 'Philosopher', sans-serif
  font-size: 16px
  background-color: #ffffff
  margin : 0

h2
  color: #23749f
  letter-spacing: 2px

h6
  font-size: 16px
  margin: 0

ul
  list-style: none
  padding : 0

a
  text-decoration: none
  color: #000

#header-logo
  margin-top: 20px
  margin-left: 50px
  height: 0px
  text-align: center
  padding-bottom: 10px

  img
    height: 100px
    margin-right: 100px


#header-wrapper
  width: 100%
  // settings de menu css
  font-family: 'Open Sans', Helvetica, sans-serif
  background: rgba(0, 0, 0, 0)
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(209, 209, 209, 0.64) 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d1d1d1))
  background: -webkit-linear-gradient(top, #ffffff 0%, #d1d1d1 100%)
  background: -o-linear-gradient(top, #ffffff 0%, #d1d1d1 100%)
  background: -ms-linear-gradient(top, #ffffff 0%, #d1d1d1 100%)
  background: linear-gradient(to bottom, #ffffff 0%, #d1d1d1 100%)

  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

  &:after, #nav:after
    content: ''
    display: block
    clear: both


#nav
  width : 70%
  margin : 0 auto
  margin-top: 100px
  display : block

  ul,li,a
    position: relative
  ul
    float: right
    margin: 0
  a
    display: block
    color: #5ba7fa

#nav > ul > li
  float: left
  display: inline-block
  margin: 0
  a
    padding: 15px 30px
    border-right: 2px solid rgba(80, 80, 80, 0.12)
    font-size : 13px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 1px

  // shading on hover
  &:hover > a, &.active > a
    color: #ffffff
    background: rgb(80, 144, 216)

  ul > li a
    text-transform: none


// Sub menu
#nav .has-sub
  z-index: 1
  // mostrar on mouseover

  &:hover > ul
    display: block
    //border-top: 1px solid rgba(0, 0, 0, 0.1)
  // normalmente ocultar
  ul
    display: none
    padding: 0
    position: absolute
    width: 200px
    top: 100%
    left: 0

    padding-top: 4px
    -webkit-transition: top 0.2s ease, opacity 0.2s ease-in
    -moz-transition: top 0.2s ease, opacity 0.2s ease-in
    -ms-transition: top 0.2s ease, opacity 0.2s ease-in
    -o-transition: top 0.2s ease, opacity 0.2s ease-in
    transition: top 0.2s ease, opacity 0.2s ease-in
    background: #5cabff

    li a
      border-bottom: 1px dotted #7b7b7b
      font-size: 13px
      filter: none
      display: block
      line-height: 120%
      padding: 10px
      color: #ffffff

    li:first-child > a
      border-top-left-radius: 3px
      border-top-right-radius: 3px

    li:last-child > a
      border-bottom-left-radius: 3px
      border-bottom-right-radius: 3px

    li:hover > a
      background: rgba(0, 0, 0, 0.1)

    // sub sub menu GG
    li.has-sub
      &:hover > ul
        display: block
      // normalmente ocultar
      ul
        display: none
        position: absolute
        width: 100%
        padding: 0
        left: 200px
        right: auto
        top: 0
        background: #5090d8

        li a
          font-size: 13px
          filter: none
          display: block
          line-height: 120%
          padding: 10px
          color: #ffffff

        li:hover > a
          background: rgba(0, 0, 0, 0.1)
          text-decoration: underline


#nav > ul > li.has-sub > a::after
  content: ""
  position: absolute
  width: 0
  height: 0
  border: 6px solid transparent
  border-top-color: #5cabff
  right: 6px
  top: 22px

#nav ul ul li.has-sub > a::after
  content: ""
  position: absolute
  width: 0
  height: 0
  border: 4px solid transparent
  border-left-color: #e3d5c1
  right: 10px
  top: 14px


//////////////////////////////////////////////////////////////
.wrapper
  display : block
  width : 100%

  //////////////////////////////////////////////////////////////

.content-wrapper
  margin: 20px auto
  background-color: white
  vertical-align: middle
  width: 90%
  border-radius: 10px

//////////////////////////////////////////////////////////////

.center-panel
  margin: 0 auto
  vertical-align: middle
  text-align: center
  h2
    color: #5090d8
    font-size: 30px
    margin: 0
    padding: 30px 0

.left-panel
  display: inline-block
  vertical-align: middle
  text-align: center
  padding: 0 15px

.right-panel
  display: inline-block
  width: 65%
  vertical-align: top
  padding: 0 15px


#left-menu
  text-align: left
  padding: 10px 20px
  width: 18%

  h2
    text-align: left
    font-size: 18px
  ul
    margin: 0

  ul > li
    a
      display: block
      padding: 5px 15px
      border-radius: 5px
      font-size : 13px
      font-weight: 700
      text-transform: uppercase
      letter-spacing: 1px
      color: black


    &:hover > a
      color: #ffffff
      background: rgb(80, 144, 216)

    &.active > ul > li > a
      display: block

  ul > li > ul > li
    padding-left: 20px

    a
      font-size: 13px
      color: #5090d8
      border-bottom: none
      text-transform: none
      display: none
      &:hover
        background: rgb(87, 160, 239)


.centered-box
  display: inline-block
  vertical-align: top
  margin: 10px 20px
  img
    width: 100%


.service-item
  width: 300px
  margin: 20px 20px
  background-color: #efefef
  border-radius: 5px
  vertical-align: top

  &:hover
    background-color: rgba(92, 171, 255, 0.38)
  p
    padding: 0 20px
    text-align: left

  p.post-item
    margin-bottom: 0

  h3 > a
    padding: 0 20px
    display: block

  h3
    padding: 15px 0
    font-size: 17px
    margin: 0
    background-color: #5cabff
    width: inherit
    border-top-left-radius: 5px
    border-top-right-radius: 5px

    &:hover
      a
        color: white
      background-color: #5090d8


.ver-mas
  display: inline-block
  text-align: right
  padding: 10px 10px
  background-color: #ff3100
  border-radius: 5px
  color: white

  &:hover
    background-color: #ff7500


///////////////////
// NAVEGAOR LINEAL A > A > A >
.linear_nav
  color: #23749f
  font-weight: bold
  a
    color: #23749f
    &:hover
      text-decoration: underline
      color: #4ba1c6

///////////////////////////////////


///////////////////
// CASA EN VENTA

.casa-extras
  background-color: #ff3100
  color: white
  font-weight: bold
  border-radius: 10px
  margin-bottom: 10px

  padding: 5px 10px
  text-align: center
  vertical-align: top
  ul
    text-align: left
    display: inline-block
  ul > li
    padding: 3px 0
    margin-right: 25px
    float: left
    width: 30%



///////////////////////////////////////////


// BLOG
.blog_box-item
  width: 250px
  background-color: white
  padding: 5px 20px
  margin: 5px 10px
  text-align: justify
  vertical-align: top
  &:hover
    background-color: #5cabff

.list_blog-item
  margin: 20px 10px
  padding: 5px

.inline
  display: inline-block
  padding-left: 10px
  vertical-align: top
  text-align: justify
  img
    width: 100%
  span
    float: right

///////////////////////////////////////////

.banner
  margin: 0
  text-align: center
  background-color: #7b7b7b
  background-size: cover


#post-wrapper
  padding: 10px 20px
  text-align: left

  h2
    color: #5090d8
  h1
    font-size: 18
  ul > li
    float: left
    background-color: #5cabff
    margin: 0 5px
    padding: 3px 5px
  img
    width: 90%
    padding: 15px 0


#service-wrapper
  padding-left: 30px
  text-align: left
  h2
    font-size: 18
  ul
    list-style: initial
    padding-left: 30px

#footer-wrapper
  background-color: #000000
  position : absolute
  letter-spacing: 1px

  footer
    margin: 0 auto
    width: 80%
    color: white
    font-size: 15px

.social-icons
  padding: 0
  margin: 0
  float: right
  position: relative

  li,a
    position: relative
  li
    float: left
    margin: 0
    display: inline-block

  li > a
    padding: 20px 20px
    padding-bottom: 5px
    display: block

.white-icon
  li > a
    color: white
    :hover
      color: rgba(255,255,255,0.5)
.black-icon
  li > a
    color: black
    :hover
      color: rgba(0,0,0,0.5)


///////// FORMULARIO CONTACTO
form
  .field_name
    font-weight: 600
    display: inline-block
    width: 30%
    padding: 10px 0
    vertical-align: top

  .required, .help-error
    color: red

  .input
    display: inline-block
    width: 60%
    padding: 10px 0
  textarea
    width: 400px

  #id_cotizacion > li
    width: 20%
    display: inline-block

  #id_comment
    display: block