{% extends "website/base/base.html" %}
{% load static from staticfiles %}

{% block content %}
<div class="wrapper content-wrapper" style="width: 80%">
    <div class="center-panel" style="margin: 40px 0">
        <a href="{% url 'index' %}"><img src="{% static 'website/img/logo1.jpg' %}"></a>
        <h3>Hubo un error en el servidor!</h3>
        <p>Por favor, haga click en nuestro logo para ir a la página principal.</p>
    </div>
</div>
{% endblock %}