{% extends "base.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block content %}
<div class="wrapper content-wrapper" style="text-align: center">
    <div class="left-panel" style="width: 40%; text-align: left">
        <h1>Nosotros</h1>
        <p>Metrópoli es una empresa dedicada a la construcción, remodelación y mantenimiento inmuebles,tales como
            oficinas, edificios, casas y departamentos.</p>
        <p>En Metrópoli contamos con el personal especializado y con amplia experiencia en cada uno de los servicios
            que brindamos. Nuestro objetivo primordial es su satisfacción total.</p>
        <p>Nuestra amplia experiencia nor permite brindarle un servicio confiable, dentro de los plazos establecidos
        y de la mejor calidad.</p>
        <p>Nuestros expertos le brindarán asesoría personalizada en cada detalle para ayudarle
        a tomar las mejores decisiones.</p>
        <p>Cada servicio está 100% garantizado mediante contrato.</p>
        <p>Algunos de nuestros clientes satisfechos:</p>
        <div style="vertical-align: top; text-align: center">
            <img src="{% static 'website/img/promperu.jpg' %}">
            <img src="{% static 'website/img/conadis.jpg' %}">
        </div>
    </div>
    <div class = "right-panel" style="width:30%">
        <img src="{% static 'website/img/banner_nosotros.jpg' %}" style="width:500px">
    </div>
</div>
{% endblock %}