{% load static from staticfiles %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description"  content="Metropoli SAC"/>
    <meta name="google-site-verification" content="C-ot_gE9FQZffcl5jnYlFj8DL4_6fNlTGNJfcpeVmF0" />

    <title>Bienvenido a Metropoli!</title>

    <link rel = 'stylesheet' href = '{% static "website/css/core.css" %}'>

    <script src="{% static 'website/js/jquery.js' %}"></script>
    <!-- SCRIPT GOOGLE ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56762912-1', 'auto');
      ga('send', 'pageview');

    </script>


    {% block js %}
    {% endblock %}

    {% block css %}
    {% endblock %}

    <!-- SCRIPT DE NAVEGADOR -->
    <script>
        $(document).ready(function(){
            $("nav > ul > li").each(function(){
                // verifica si link es igual a    pagina relativa actual
                if ($("a",this)[0].href == window.location.href)
                    if(!$(this).hasClass("active"))
                    $(this).addClass("active");
                else
                    $(this).removeClass("active");
            });

            $('#nav').on('click', function(){
                var menu = $("ul:first",this);
                if (menu.hasClass('open')) {
                    menu.removeClass('open');
                }
                else {
                    menu.addClass('open');
                }
            });
         });
    </script>

</head>

<body>
<!-- Header--->
<div class="wrapper">
<!-- header -->
    <div id="header-logo">
        <a href="{% url 'index' %}">
        <img src='{% static "website/img/log33.jpg" %}' >
        </a>
    </div>
    <div id="header-wrapper">
        <nav id="nav">

            <ul>
            <li><a href="{% url 'index' %}" > Inicio</a></li>
            <li><a href="{% url 'nosotros' %}"> Nosotros</a></li>
            <li class="has-sub"><a href="{% url 'services' %}"           > Servicios</a>
                <ul>
                    {% if simple_services|length > 0 %}
                    {% for service in simple_services %}
                        <li ><a href="{{ service.url }}">{{ service.title }}</a></li>
                    {% endfor %}
                    {% endif %}

                    {% if services|length > 0 %}
                    {% for service in services %}
                        {% with service|getSubServices as subservices %}
                        {% if subservices|length > 0 %}
                            <li class="has-sub"><a href="{{ service.url }}">{{ service.title }}</a>
                                <ul>
                                {% for subservice in subservices %}
                                <li ><a href="{{ subservice.url }}">{{ subservice.title }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li ><a href="{{ service.url }}">{{ service.title }}</a></li>
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                    {% endif %}
                </ul>
            </li>
            <!--
            <li><a href="{% url 'blog' %}"  > Novedades</a></li>
            -->
            <li><a href="{% url 'contacto' %}" > Contacto</a></li>
            </ul>
        </nav>
    </div>

    <!-- Banner -->
    {% block banner %}
    {% endblock %}
</div>


{% block content %}
{% endblock %}

<!-- Footer--->

<!-- Footer -->
<div id = "footer-wrapper" class="wrapper">
	<footer>
        <div style="height: 60px">
            <span style="padding-top: 20px; float: left"><h3>&copy;Metropoli</h3></span>
            <!-- Menu -->
            <ul class="social-icons white-icon">
                <li><a>Redes sociales:</a></li>
                <li><a href="https://www.facebook.com/metropolicontratistas" class="fa solo fa-facebook"></a></li>
                <li><a href="#" class="fa solo fa-twitter"></a></li>
                <li><a href="#" class="fa solo fa-linkedin"></a></li>
            </ul>
        </div>
        <div>
            <p>Contáctenos con total libertad a:</p>
            <p style="font-size:16px; padding-left: 20px">contacto@metropoli.com.pe</p>
            <ul style="padding-left: 20px">
                <li>Claro: 992784340</li>
                <li>Movistar RPM: (#)990770360</li>
                <li>Fijo: 2438656</li>
            </ul>
        </div>
	</footer>
</div>

</body>
</html>

