{% extends "base.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block content %}
<div class="wrapper content-wrapper">
    <div class="left-panel" style="width:65%">
        {% block content_blog %}
        {% endblock %}
    </div>

    <div class="right-panel" style="width:25%; background-color: rgb(237, 237, 237);border-radius: 10px">
        <!-- SERVICE MENU -->
        <h2>Servicios</h2>
        <div id="left-menu" style="width:100%; padding:0; margin-bottom: 50px" >
            <ul>
            {% if services|length > 0 %}
            {% for service in services %}
                {% with service|getSubServices as subservices %}
                {% if subservices|length > 0 %}
                    <li><a href="{{ service.url }}">{{ service.title }}</a>
                        <ul>
                        {% for subservice in subservices %}
                        <li ><a href="{{ subservice.url }}">{{ subservice.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li ><a href="{{ service.url }}">{{ service.title }}</a></li>
                {% endif %}
                {% endwith %}
            {% endfor %}
            {% endif %}

            {% if simple_services|length > 0 %}
            {% for service in simple_services %}
                <li ><a href="{{ service.url }}">{{ service.title }}</a></li>
            {% endfor %}
            {% endif %}

            </ul>
        </div>

        <!-- BLOG LIST MENU -->
        <a href="{% url 'blog' %}"><h2>Vea más Tips!</h2></a>
        <div style="width:100%">
            {% for post in posts%}
                <div class="service-item" style="margin:0">
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    <a href="{{ post.url }}">
                        <img src="{% static post.list_img.url %}" style="width:100%">
                    </a>
                </div>
            {% endfor %}
        </div>


    </div>

</div>
{% endblock %}