{% extends "base.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block js %}
    <!-- SCRIPT DE MENU LATERAL -->
    <script>
        $(document).ready(function(){
            $("#left-menu > ul > li").each(function(){
                // verifica si link esta contenido en pagina relativa actual
                if (window.location.href.indexOf($("a",this)[0].href) > -1)
                    if(!$(this).hasClass("active"))
                        $(this).addClass("active");
                    else
                        $(this).removeClass("active");
            });

         });
    </script>
{% endblock %}

{% block content %}
<!-- BARRA DE NAVEGACION-->
<div class="wrapper content-wrapper linear_nav" style="text-align: left; width: 90%">
    <a href="{% url 'services' %}">Servicios</a> {% block nav_servicio %}{% endblock %}
</div>

<!-- ------------------------------------------------------------------------  -->

<div class="wrapper content-wrapper" style="text-align: center; width: 100%">
    <!-- Lista de servicios-->
    <div id="left-menu" class="left-panel" style="background-color: rgb(237, 237, 237);border-radius: 10px" >
        <h2>SERVICIOS</h2>
        <ul>
        {% if services|length > 0 %}
        {% for service in services %}
            {% with service|getSubServices as subservices %}
            {% if subservices|length > 0 %}
                <li><a href="{{ service.url }}">{{ service.title }}</a>
                    <ul>
                    {% for subservice in subservices %}
                    <li ><a href="{{ subservice.url }}">{{ subservice.title }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li ><a href="{{ service.url }}">{{ service.title }}</a></li>
            {% endif %}
            {% endwith %}
        {% endfor %}
        {% endif %}

        {% if simple_services|length > 0 %}
        {% for service in simple_services %}
            <li ><a href="{{ service.url }}">{{ service.title }}</a></li>
        {% endfor %}
        {% endif %}

        </ul>
    </div>


    <!--   RIGHT PANEL   -->

    <div id = "service-wrapper" class="right-panel">
    {% block right-panel %}
        <h3>Servicios que ofrece Metrópoli.</h3>
    {% endblock %}
    </div>

</div>
{% endblock %}