{% extends "base_blog.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block content_blog %}

<h1 style="text-align: left">Metropoli Tips</h1>
{% if posts|length > 0 %}
{% for post in posts %}
    <div class="list_blog-item">
        <div class="inline" style="width: 30%">
            <a href="{{ post.url }}" >
                <img src="{%  static post.list_img.url %}">
            </a>
        </div>

        <div class="inline" style="width: 65%">
            <h4>{{post.date|date:"b d Y"|capfirst}}</h4>
            <a href="{{ post.url }}" ><h2>{{post.title}}</h2></a>
            <p>{{ post.content|striptags|truncatewords_html:20 }}</p>
            <span><a href="{{ post.url }}">  Leer más...</a></span>
        </div>
    </div>
{% endfor %}
{% endif %}

{% endblock %}