{% extends "base_blog.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

<!-- Blog Post website-->
{% block content_blog %}

    <!-- Post body -->
    <div id="post-wrapper" >
        <h2>{{ query_post.date|date:"b d Y"|capfirst }}</h2>
        <h1 style="text-align: left">{{ query_post.title }}</h1>
        <span style="float: left">Tags:</span>
        <ul>
        {% if tags|length > 0 %}
        {% for tag in tags %}
            <li>{{ tag }}</li>
        {% endfor %}
        {% endif %}
        </ul>
        <div style="text-align: center">  <img src="{% static query_post.article_img.url %}">  </div>
        {{ query_post.content|safe }}
    </div>


{% endblock %}