{% extends "base_service.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block nav_servicio %}
    > <a href="{% url 'compra-venta' %}">Compra y venta de Inmuebles</a>
{% endblock %}


{% block right-panel %}
    <h2>Compra y venta de Inmuebles</h2>
    <p>Compramos casas, departamentos y oficinas a nivel nacional al precio más justo del mercado.</p>
    <p>Vendemos casas, departamentos y oficinas que hemos comprado en las mejores zonas y
        remodelado íntegramente con los mejores acabados y materiales.</p>
    <div style="padding-top:30px">
    <style>
        #foo{
            list-style: none;
            text-align: center;
        }
        #foo > li{
            display: inline-block;
            width:30%;
            margin: 0 20px;
            text-align: center;
        }
        #foo > li > a{
            width: 100%;
            text-align: center;
        }
    </style>
    <ul id="foo">
        <li><a href="{% url 'vendidos' %}"   class="ver-mas">Inmuebles vendidos</a></li>
        <li><a href="{% url 'venta-list' %}" class="ver-mas">Inmuebles en venta</a></li>
    </ul>
    </div>
{% endblock %}