{% extends "base.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block content %}
<div class="wrapper content-wrapper" style="text-align: center">
    <div class="left-panel" style="width: 70%; text-align: left">
        <div style="text-align: center;padding:30px 0"><img src="{% static 'website/img/logo_metropoli.jpg' %}" style="width:250px"></div>
        <h4>Muchas gracias por contactarnos!</h4>
        <p>Un representante se pondrá en contacto con Ud. en las
            próximas 24 horas para absolver todas sus dudas y brindarle toda la información
            que desee.</p>
    </div>
</div>
{% endblock %}