{% extends "base.html" %}
{% load static from staticfiles %}
{% load custom_filters %}


{% block content %}
<div class="wrapper content-wrapper" style="text-align: center">
    <div class="left-panel" style="width: 70%; text-align: left">
        <h1>Contáctenos y solicite su cotización gratis!</h1>
        <br>

        <form action="" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="field_name">{{ field.label_tag }}
                    {% if field.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </div>
                <div class="input">
                    {{ field }}
                    {% if field.errors %}
                        <span class="help-error">
                            {% with field.errors|first as first_error %}
                                - {{ first_error }}
                            {% endwith %}
                        </span>
                    {% elif field.help_text %}
                        <span class="help-inline">
                            {{ field.help_text }}
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
            <div style="display:block; text-align: center">
                <input class="send" type="submit" value="Enviar" style="text-align: center">
            </div>
        </form>

    </div>
</div>
{% endblock %}