{% extends "base.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block js %}
    <script type="text/javascript" src="{% static 'website/js/jssor.core.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/jssor.slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/jssor.utils.js' %}"></script>

    <script>
        jQuery(document).ready(function () {

            var _SlideshowTransitions = [
                //Rotate Overlap
            {$Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },
            //Fade out L
              { $Duration: 1200, x: 0.3, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            ];

            /*
            var _SlideshowTransitions = [
            //Fade
            { $Duration: 1200, $Opacity: 2 }
            ];
            */
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 5000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 200,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                    $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
                },

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 10,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                    $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                },

                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2                                //[Required] 0 Never, 1 Mouse Over, 2 Always
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider_index", options);
        });
    </script>

{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'website/css/sliders.css' %}"/>
    <!-- Arrow Navigator Skin Begin -->
    <style>
        /* jssor slider arrow navigator skin 05 css */
        /*
        .jssora05l              (normal)
        .jssora05r              (normal)
        .jssora05l:hover        (normal mouseover)
        .jssora05r:hover        (normal mouseover)
        .jssora05ldn            (mousedown)
        .jssora05rdn            (mousedown)
        */
        .jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn
        {
            position: absolute;
            cursor: pointer;
            display: block;
            background: url("{% static 'website/img/icons/a17.png'  %}") no-repeat;
            overflow:hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05ldn { background-position: -250px -40px; }
        .jssora05rdn { background-position: -310px -40px; }
    </style>
{% endblock %}


{% block banner %}
<div id = "banner-wrapper" class = "wrapper">
    <div id="slider_index">

    <div u="slides" style=" cursor: move;
                            position: absolute;
                            left: 0px; top: 0px;
                            width: 900px;
                            height: 300px;
                            overflow: hidden;
                            display: block;
                            vertical-align: middle;">

        <div>
            <img u=image src="{% static 'website/img/banner1.jpg' %}" style="width:900px"/>
        </div>
        <div>
            <img u=image src="{% static 'website/img/banner2.jpg' %}" style="width:900px"/>
        </div>
        <div>
            <img u=image src="{% static 'website/img/banner3.jpg' %}" style="width:900px"/>
        </div>
    </div>

    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 123px; left: 8px;">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 123px; right: 8px">
    </span>
    <!-- Arrow Navigator Skin End -->
    <a style="display: none" href="http://www.jssor.com">responsive jquery slider</a>

    </div>
</div>
{% endblock %}


{% block content %}
<!-- Servicios y Paquetes -->
<div class="wrapper content-wrapper">
    <div class="left-panel" style="width:60%">
        <a href="{% url 'services' %}"><h2>Servicios</h2></a>
        {% if services|length > 0 %}
        {% for service in services %}
            <div class="centered-box service-item">
                <h3>
                <a href="{{ service.url }}">
                    {{service.title}}
                </a>
                </h3>
                <a href="{{ service.url }}" >
                    <img src="{%  static service.mini_image.url %}">
                </a>
                <p>{{ service.mini_content|safe }}</p>

            </div>
        {% endfor %}
        {% endif %}

        {% if simple_services|length > 0 %}
        {% for service in simple_services %}
            <div class="centered-box service-item">
                <h3>
                <a href="{{ service.url }}">
                    {{service.title}}
                </a>
                </h3>
                <a href="{{ service.url }}" >
                    <img src="{%  static service.mini_image.url %}">
                </a>
                <p>{{ service.mini_content|safe }}</p>
            </div>
        {% endfor %}
        {% endif %}

        <div class="centered-box service-item">
            <h3>
            <a href="{% url 'compra-venta' %}">
                Compra y Venta de Inmuebles
            </a>
            </h3>

            <a href="{% url 'compra-venta' %}" >
                <img src="/media/venta/mini_venta.png">
            </a>
            <p>Compra de casas, departamentos, oficinas.<br>
               Venta de Casas, departamentos, oficinas remodeladas de nuestra propiedad.</p>
        </div>

    </div>

    <!-- RIGHT PANEL-->
    {% if inmuebles|length > 0 %}
    <div class="right-panel" style="width:30%; background-color: rgb(237, 237, 237);border-radius: 10px">
        <a href="{% url 'blog' %}"><h2>Metropoli Tips!</h2></a>
        {% for post in posts%}
            <div class="service-item">
                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <a href="{{ post.url }}">
                    <img src="{% static post.list_img.url %}" style="width:100%">
                </a>
            </div>
        {% endfor %}
        <div style="text-align: center">
            <a href="{% url 'blog' %}" class="ver-mas">Ver más</a>
        </div>
    </div>
    {% endif %}

</div>


<!-- Novedades
<div class="wrapper content-wrapper">
    <div class="center-panel">
        <h2 style="text-align: left;padding-left: 50px">Novedades</h2>
        {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="centered-box blog_box-item">
                <a href="{{ post.url }}" >
                    <img src="{%  static post.list_img.url %}">
                    <h4>{{post.title}}</h4>
                    <p>{{ post.content|truncatewords_html:20|safe }}</p>
                </a>
                <span>  <a href="{{ post.url }}">Leer más...</a> </span>
            </div>
        {% endfor %}
        {% endif %}
        <div>
        <a href="{% url 'blog' %}" class = "button alt fa fa-file-o">Ver más</a>
        </div>
    </div>
</div>
-->

{% endblock %}
