{# SERVICIO FINAL #}
{% extends "service.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block nav_servicio %}
    > <a href="{{ parent.url }}">{{ parent.title }}</a>
    > <a href="{{ service.url }}">{{ service.title }}</a>
{% endblock %}


{% block subservice %}
    <h2>{{ service.title }}</h2>
    <div>
    {{ service.content|safe }}
    </div>
{% endblock %}