{# SERVICIO GENERAL, TIENE SUB SERVICIOS #}
{% extends "base_service.html" %}
{% load static from staticfiles %}
{% load custom_filters %}


{% block nav_servicio %}
    > <a href="{% url 'compra-venta' %}">Compra y venta de Inmuebles</a>
    > <a href="{% url 'venta-list' %}">Inmuebles en Venta</a>
{% endblock %}


{% block right-panel %}
<h2>Inmuebles en Venta</h2>
<p>Vendemos casas, departamentos y oficinas que hemos comprado en las mejores zonas y remodelados
    íntegramente con los mejores acabados y materiales.</p>

<div class="center-panel">
{% if inmuebles|length > 0 %}
{% for casa in inmuebles%}
    <div class="centered-box service-item" style="width: 400px">
        <h3><a href="{{ casa.url }}">{{ casa.title }}</a></h3>
        <a href="{{ casa.url }}">
            <img src="{% static casa.mini_image.url %}" style="width:100%">
        </a>
        <p class="casa">{{ casa.mini_content }}<br><br>
           {{ casa.address|truncatewords_html:20 }}</p>
        <div style="text-align: right">
            <a href="{{ casa.url }}" class="ver-mas">Ver más</a>
        </div>
    </div>
{% endfor %}
{% endif %}
</div>

{% endblock %}