/* line 3, ../sass/sliders.sass */
#slider_index {
  position: relative;
  top: 0px;
  left: 0px;
  width: 900px;
  height: 300px;
  overflow: hidden;
  font-size: 18px;
  margin: 0px auto;
  vertical-align: middle;
}

/* line 15, ../sass/sliders.sass */
#banner-wrapper {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #c5c5c5;
}
