TITULO
¿Qué considerar para remodelar un baño?

CUERPO
<p>Cuando vamos a remodelar nuestro cuarto de baño debemos considerar no solo el estilo decorativo sino la funcionalidad.</p>

<ol>
<li> Las mayólicas a elegir deben ser fáciles de limpiar, sobre todo aquellas que estarán cercanas al lavatorio y en la parte de la ducha. Asimismo estas deben ser preferentemente antideslizantes</li>

<li>Si se va a cambiar de posición el inodoro, este no se puede alejar mucho del punto central de desague de 4 pulgadas, ya que el tubo siempre debe tener inclinación. Si se opta por esta opción se deberá levantar el piso lo cual incrementara los costos.</p>
<li>La ventilación es muy importante. Si no se cuenta con ventana se deberá usar extractor de aire. las tuberías de desague también deben tener un respiradero.</li>
</ol>

<p>En conclusión, si quieres remodelar tu baño ten en cuenta que la calidad y funcionalidad son mejores que la belleza, compra elementos de buen funcionamiento y costea bien tu presupuesto ante de comenzar a remodelar para que asi no te lleves ninguna sorpresa.</p>

<p>Si deseas remodelar tu baño o cualquier otra área de tu casa, departamento u oficina llamanos y te asesoramos sin costo.</p>