{# SERVICIO GENERAL, TIENE SUB SERVICIOS #}
{% extends "left-right.html" %}
{% load static from staticfiles %}
{% load custom_filters %}

{% block banner %}
    <div class="banner">
        <img src="{{ service.banner_image.url }}" style="width:80%; padding:0;margin:0">
    </div>
{% endblock %}

{% block left-panel %}
<div id = "post-wrapper" class="left-panel">
    <h2 style="text-align: left">{{ service.title }}</h2>
    <div>
    {{ service.content|safe }}
    </div>
    <div>
        {% for subservice in subservices %}
        {% for subservice in subservices %}
        {% endfor %}
    </div>
    <!--
    <h3 style="text-align: left">Servicios de {{ service.title }}</h3>
    <ul>
    {% for subservice in subservices %}
        <li><a href="{{ subservice.url }}">{{ subservice.title }}</a></li>
    {% endfor %}
    </ul>
    -->

    <!-- Carrousel de fotos GG-->
</div>
{% endblock %}





