CONSTRUCCION

<p>Construcción de casas habitación, edificios familiares, multifamiliares, oficinas.</p>
<ul>
    <li>Levantamiento de cimientos, columnas, paredes, techo, frotachado, tarrajeo, acabados.</li>
    <li>Asesoría permanente desde la elaboración de los planos hasta la independización del inmueble a nivel registral.</li>
</ul>

<p>Remodelacion de casas habitación, edificios familiares, multifamiliares</p>
<ul>
    <li>Redistribucion de ambientes en su inmueble, cambio de acabados.</li>
    <li>Asesoria permanente para que tome las mejores decisiones</li>
</ul>

<p>Ampliacion de casas habitación, edificios familiares, multifamiliares</p>
<ul>
    <li>Adicion de nuevos ambientes a su inmueble, instalación de acabados</li>
    <li>Asesoria de factibilidad de ampliación, rectificación de fabrica.</li>
</ul>

MINI
Obra nueva de casa o habitación.<br>
Obra nueva de edificios y oficinas.<br>
Cambio de acabados<br>
Adición de ambientes.

##################################################################################################

ASESORIA

<p>Tasación de inmuebles.</p>
<p><i>Saneamiento registral:</i> sucesiones, partición y división, levantamiento de gravámenes, etc.</p>
<p><i>Tramites registrales:</i> Orientacion y tramitación.</p>
<p><i>Tramites notariales:</i> Orientacion y tramitación.</p>
<p><i>Legal:</i> Orientación legal para el saneamiento de su propiedad.</p>
<p>Elaboración de proyectos inmobiliarios.</p>


MINI
Tasaciones, saneamiento, trámites legales, trámites notariales.

##################################################################################################

VENTA

<p>Compramos casas, departamentos y oficinas a nivel nacional al precio más justo del mercado.</p>
<p>Vendemos casas, departamentos y oficinas que hemos comprado en las mejores zonas y remodelado íntegramente con los mejores acabados y materiales.</p>

INMUEBLES EN VENTA
<p>Aprecie los inmuebles remodelados que actualmente ofrecemos.</p>

INMUEBLES VENDIDOS
<p>Aprecie los inmuebles que remodelamos y ya hemos vendido.</p>

##################################################################################################

MANTENIMIENTO
<p>Somos la mejor opción para el mantenimiento de residencias, oficinas, edificios e industria.</p>
<p>Ofrecemos:</p>
<ul>
    <li>Pintura de casas, oficinas, edificios e industrias.</li>
    <li>Carpintería.</li>
    <li>Melamina y encimeras.</li>
    <li>Albañilería.</li>
    <li>Herrería (carpintería metálica).</li>
    <li>Instalaciones hidrosanitarias (gasfitería).</li>
</ul>

MINI
Pintura, carpintería, muebles en melanina, albañilería, carpintería metálica (herrería).<br>
Instalaciones hidrosanitarias (gasfitería).<br>
Instalación de aire acondicionado.

PINTURA
<p>Brindamos el mejor servicio de pintado de su inmueble con el mejor acabado, realizando:</p>
<ul>
    <li><b>Remoción de falsas adherencias:</b> removemos toda la pintura antigua y resanes salientes o flojos.</li>
    <li><b>Empastado:</b> resanamos dos (2) veces todas las imperfecciones.</li>
    <li><b>Preparación de paredes nuevas:</b> con empastado total, aplicación de imprimante.</li>
    <li><b>Tratamiento de paredes antiguas:</b> una vez resanada aplicamos sellador para evitar que la pintura antigua se levante.</li>
    <li><b>Tratamiento de áreas con salitre, moho o humedad:</b> de acuerdo a la situación se utilizarán productos químicos de calidad, eliminando el problema.</li>
</ul>
<p>Usamos acros, andamios, trapecios y todos los implementos de seguridad necesarios. Garantizamos un trabajo de calidad y con el menor tiempo</p>
<p>Protegemos completamente el área a trabajar y realizamos una exhaustiva limpieza antes, durante y después del trabajo.</p>

MINI
Servicio de pintado profesional de alta calidad.
######

CARPINTERIA
<p>Realizamos trabajos de carpintería tales como:</p>
<ul>
<li>Laqueado, pintura al duco, acrílica, gloss de puertas, marcos, ventanas de madera.</li>
<li>Fabricación de puertas de madera para cochera.</li>
<li>Aplicación de DD a pisos de parket y parketon y pasos de escalera.</li>
<li>Instalacion de puertas (batientes, levadizas, vaivén, seccionales),  marcos, ventanas de madera.</li>
</ul>
MINI
Servicio de carpintería con acabado inmejorable.
#########

ALBAÑILERIA
<p>Instalacion de mayólicas, porcelanatos</p>
MINI
Instalacion de mayólicas, porcelanatos
#########

HERRERIA (CARPINTERIA METALICA)
<p>Fabricacion de rejas, puertas, marcos, barandas, escaleras, techos  y todo tipo de estructuras de metal.</p>
<p>Mantenimiento de rejas, puertas, marcos,  barandas, escaleras, y todo tipo de estructuras de metal.</p>
MINI
Fabricación y mantenimiento de rejas, puertas, barandas y todo tipo de estructuras de metal.

#########
INSTALACIONES HIDROSANITARIAS (GASFITERIA)
<ul>
<li>Instalacion de tuberías de agua y desague.</li>
<li>Cambio de tuberías de agua y desague.</li>
<li>Instalacion de sanitarios, lavatorios, tinas con o sin hidromasaje, grifería en general.</li>
</ul>
MINI
Instalación y cambio de tuberías de agua y desague, sanitarios, grifería en general.

#########
MELAMINA y encimeras
<p>Fabricacion de closets, reposteros, muebles de sala, lavandería, baños.</p>
<p>Venta e instalación de encimeras de granito y mármol.</p>
MINI
Fabricacion de closets, reposteros, muebles de sala, lavandería, baños.
Venta e instalación de encimeras de granito y mármol.

#########
AIRE ACONDICIONADO
<h6>Instalación, Operación y/o mantenimiento de Sistemas de Aire Acondicionado</h6>
<p>Metropoli  no sólo realiza el mantenimiento preventivo del Equipo Enfriador, también se encarga de la operación y el mantenimiento del sistema Integral de Aire Acondicionado (que incluye la torre de enfriamiento, bombas de agua, Manejadoras de Aire, Fancoils y otros componentes involucrados en el funcionamiento del sistema de aire acondicionado.</p>
<br>
<h6>Contratos de mantenimiento</h6>
<p>Visitas de inspección periódicas, visitas de emergencia y servicios de guardia las 24 hrs que pueden ser acordadas para cada caso particular, dando una respuesta ágil y permanente a cualquier tipo de inconveniente.</p>
<br>
<h6>Instalación, mantenimiento y cálculo de equipos de climatización de salas de cómputo y comunicaciones</h6>
<p>A los equipos utilizados y alojados en las salas de cómputo se les denomina cargas críticas, las cuales no deben interrumpir su operación de ninguna forma, una situación de este tipo puede ocasionar pérdidas económicas cuantiosas, prestigio e inclusive vidas humanas. Un inadecuado diseño del sistema de aire acondicionado es el segundo factor responsable de interrupción en la operación en salas de cómputo después del factor eléctrico. De ahí la importancia de analizar la mejor alternativa de acondicionamiento ambiental para ésta.</p>
<p>Metrópoli realiza el cálculo térmico para determinar la capacidad de equipo de aire a instalar, considerando redundancia para aumentar la confiabilidad y la disponibilidad. Nos especializamos en equipos VRV Daikin, Liebert.</p>
 <br>
<h6>Mantenimiento en bloques</h6>
<p>Para universidades, colegios, y oficinas.</p>

MINI
Instalación, operación y mantenimiento de Sistemas de Aire Acondicionado.

##################################################################################################


QUIENES SOMOS
<p>Metrópoli es una empresa dedicada a la construcción, remodelación, mantenimiento, compra y venta de bienes
inmuebles, tales como residencias, oficinas, edificios y plantas.</p>
<p>En Metrópoli contamos con profesionales de alto nivel y equipo de primera. Nuestro
objetivo primordial es su satisfacción total.</p>
<p>Nuestra amplia experiencia nor permite brindarle un servicio confiable, dentro de los plazos establecidos
y de la mejor calidad.</p>
<p>Nuestros expertos le brindarán asesoría personalizada en cada detalle para ayudarle
a tomar las mejores decisiones.</p>
<p>Cada servicio está 100% garantizado mediante contrato.</p>


