@charset "UTF-8"

@font-face
  font-family: 'FontAwesome'
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.1')
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Philosopher'
  src: url('../fonts/Philosopher-Bold.ttf') format('bold')
  src: url('../fonts/Philosopher-BoldItalic.ttf') format('bold-italic')
  src: url('../fonts/Philosopher-Regular.ttf')
  src: url('../fonts/Philosopher-Italic.ttf') format('italic')
  font-weight: normal
  font-style: normal



@import "compass"
@import "partials/_base.sass"
@import "partials/_icons.scss"
